/* #region Basic */
*,
*::before,
*::after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.container {
    margin: 0 auto;
    width: 1158px;
}
/* #endregion Basic */

/* #region Header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 72px;
}
.nav {
    display: flex;
    align-items: center;
    gap: 40px;
}
.logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    color: #2e2f42;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #4d5ae5;
}
.logo1 {
    color: #2e2f42;
}
.page-header .menu {
    display: flex;
    gap: 40px;
}
.link {
    padding: 24px 0;
    color: #2e2f42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    list-style-type: none;
    text-decoration: none;
    font-style: normal;
}
.link:hover, .link:focus {
    color: #404bbf;
}
address {
    font-style: normal;
}
.address-list {
    display: flex;
    gap: 40px;
}
.contact {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style-type: none;
    text-decoration: none;
}
.contact:hover, .contact:focus {
    color: #404bbf;
}
/* #endregion Header */

/* #region Section Order */
.section-order {
    padding: 188px 0;
    background-color: #2e2f42;
}
.section-order .container {
    display: flex;
    flex-direction: column;
}
.section-title {
    max-width: 496px;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    align-self: center;
    color: #FFFFFF;
}
.container .button {
    display: block;
    min-width: 169px;
    margin: 0 auto;
    height: 56px;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}
.button:hover, .button:focus {
    background-color: #404bbf;
}
/* #endregion Section Order */

/* #region Principles */
.principles  {
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container .principles-list {
    display: flex;
    gap: 24px;
}
.principles-list .element {
    flex-basis: calc((100% - 72px) / 4);
}
.header {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
}
.paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
}
/* #endregion Principles */

/* #region Our Team */
.section-team {
    padding: 120px 0;
    background-color: #f4f4fd;
}
.team {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.container .list {
    display: flex;
    gap: 24px;
}
.container .name {
    padding: 32px 0;
}
.header-name {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
}
.paragraph-name {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
}
/* #endregion Our Team */

/* #region Our Portfolio */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.title-portfolio {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.container .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-element {
    flex-basis: calc((100% - 48px) / 3);
}
.portfolio .app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-list .header-app {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
}
.portfolio-list .paragraph-app {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
}
/* #endregion Our Portfolio */

/* #region Footer */
.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}
/* .footer .container {
    display: flex;
    flex-direction: column;
    gap: 16px;
} */
.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}
.logo-footer {
    color: #f4f4fd;
}
.text-footer {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}
/* #endregion Footer */